body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

#search-section {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

#search-box {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;

    width: 80%;
}

/* #pets-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;

} */

/* .pet-card {
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
} */

/* .pet-card img {
    max-width: 100%;
    border-radius: 5px;
}

#filters {
    margin: 20px;
}

#filters h3 {
    margin-top: 0;
} */

/* Start of search bar formatting */
.search-div {
    float: left;
    margin-left: 1%;
    margin-right: 1%;
    padding: 1%;
    width: 91%;
    border-bottom: 1%;
}

.search {
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 0.5%;
    font-size: 30px;
    width: 103%;
    background-color: #dddddd;
    border: #dddddd;
    color: #732DD9;
}

.btnSearch {
    width: 4rem;
    height: auto;
    padding-left: 1%;
    margin-top: 1.2%;
}

::placeholder {
    color: #732DD9;
    opacity: 1;
}

/* End of search bar formatting */

main {
    overflow: hidden;
    position: relative;
    width: 100%;
}

/* Start of animal grid formatting */
.pets-grid {
    /* width: 100%; */
    text-align: center;
    margin-left: 2%;
    margin-right: 1%;
    padding-left: 1px;
    padding-right: 1px;
    position: relative;
    justify-content: center;
    align-items: center;
}

.pet {
    padding: 1%;
    width: 350px;
    text-align: center;
    margin: 2%;
    background-color: #FFFFFF;
    height: 500px;
    vertical-align: center;
    background-color: #DEDFE1;
    box-shadow: 5px 10px #888888;
    position: relative;
    float: left;
}

.animal-pic {
    max-width: 350px;
    width: auto;
    max-height: 250px;
    height: auto;
    padding-bottom: 4%;
}

.format-name {
    float: left;
    text-align: left;
}

.purpose {
    color: #7AA355;
    font-size: 24px;
    text-transform: uppercase;
    text-align: left;
}

.animal-name {
    font-size: 20px;
    text-align: left;
    font-weight: bold;
}

.gender {
    float: right;
    height: 2rem;
    width: 2rem;
}

.animal-description {
    padding-top: 7rem;
    font-size: 20px;
    text-align: left;
}

.more {
    font-size: 20px;
    color: #9C90A8;
    float: right;
    text-decoration: none;
}

.date {
    float: left;
    font-size: 20px;
    color: #9C90A8;
}

.likes {
    float: right;
    height: 2rem;
    width: 2rem;
    padding-left: 0.2rem;
}

.likes-count {
    float: right;
    font-size: 20px;
    color: #FCACBF;
}

/* End of animal grid formatting */

/* Start of side bar. */

.filters {
    height: 100%;
    padding-top: 3%;
    /* flex-basis: 25%; */
    display: flex;
    width: 30%;
    flex-direction: column;
    width: min-content;
    overflow-y: auto;
    /* overflow-x: hidden; */
    /* transition: all 0.5s, transform 1ms; */
    position: relative;
    float: right;
    padding-bottom: 30%;
    padding-left: 1%;
}

.filter-box {
    width: 300px;
    padding-bottom: 15%;
}

.gender-box {
    width: 9%;
    height: 9%;
}

h3 {
    color: #732DD9;
    font-size: 26px;
    font-weight: bold;
}

label {
    color: #732DD9;
    font-size: 22px;
}

input[type="checkbox"] {
    outline: 2px solid #732DD9;
}

.btnFilter {
    height: 50px;
    width: 200px;
    font-weight: bold;
    font-size: 18px;
    color: #FFFFFF;
    background-image: linear-gradient(to right, #DA22FF 0%, #9733EE 51%, #DA22FF 100%);
    margin: 7%;
    margin-top: 15%;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border: none;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.btnFilter:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

a {
    text-decoration: none;
}