* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

.profile {
    margin: 5%;
    padding: 2%;
    border: 2px solid #732DD9;
    width: 85%;
    height: min-content;
    height: auto;
    min-height: 245px;
    display: inline-block
}

.profile-pic {
    float: left;
    height: 156px;
    width: 156px;
    border-right: 5%;
}

.person-info {
    float: left;
    padding-left: 5rem;
    width: 70%;
}

h1 {
    font-size: 24px;
    color: #732DD9;
    -webkit-text-stroke: 1px #C622E1;
    text-shadow: -0.5rem 0.3rem 0.5rem #aeaeae;
    font-weight: bold;
}

h2 {
    font-size: 24px;
    color: #732DD9;
    text-shadow: -0.5rem 0.3rem 0.5rem #aeaeae;
    font-weight: lighter;
}

.helper-icon {
    height: 30px;
    width: auto;
    float: left;
    padding-right: 3rem;
    padding-top: 1%;
}

p {
    font-size: 18px;
}

.edit-profile-btn {
    height: 40px;
    width: 40px;
    float: right;
    vertical-align: top;
}

/* Beginning of posters formatting */

.posters-title {
    padding-left: 5%;
}

.poster {
    margin: 1%;
    margin-left: 5%;
    padding: 2%;
    display: inline-block;
    height: min-content;
    height: auto;
    background: #F2F2F2;
    width: 65%;
}

.animal-pic {
    float: left;
    max-width: 250px;
    width: auto;
    max-height: 250px;
    height: auto;
    margin-right: 4rem;
}

.animal-info {
    float: left;
}

.name {
    font-weight: bold;
    float: left;
    font-size: 20px;
    padding-right: 5rem;
}

.gender {
    width: 40px;
    height: 40px;
}

h3 {
    color: #7AA355;
    text-transform: uppercase;
}

.description {
    max-width: 700px;
}

.poster-buttons {
    float: right;
}

.date {
    color: #9C90A8;
    vertical-align: bottom;
}

.edit-animal {
    height: 40px;
    width: 40px;
}

.likes-format {
    padding-top: 11rem;
    vertical-align: bottom;
    display: inline-block
}

.likes-count {
    color: #FCACBF;
    float: left;
}

.likes {
    height: 25px;
    width: 25px;
}

/* Button formatting */

.center_button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 7%;
    padding-top: 2%;
}

.add-poster-btn {
    height: min-content;
    width: max-content;
    font-weight: bold;
    font-size: 18px;
    color: #FFFFFF;
    background-image: linear-gradient(to right, #DA22FF 0%, #9733EE 51%, #DA22FF 100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border: none;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.add-poster-btn:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

a {
    text-decoration: none;
}