* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

/* GENERAL */
a:link,
a:visited {
    color: #C622E1;
}

body {
    background-image: url("back.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    color: #732DD9;
    font-size: 36px;
    margin-top: 8%;
    margin-bottom: 5%;
    -webkit-text-stroke: 1px #C622E1;
    text-shadow: -0.5rem 0.3rem 0.5rem #aeaeae;
}

/* .row {
    padding: 2.5rem;
} */

input[type=text] {
    font-size: 2rem;
    color: #888888;
    height: 3.5rem;
    width: 40rem;
    float: right;
    box-sizing: border-box;
    border: 1px solid #732DD9;
    box-shadow: 3px 3px 3px #D5C0F4;
}

/* input[type=text]:focus {
    border: 3px solid #732DD9;
} */

.button-wrapper {
    text-align: center;
    margin-top: 20px;
}

.button-wrapper .purple-button {
    /* display: inline-block; */
    width: 250px;
    padding: 10px 20px;
    background-color: #6f42c1;
    color: #fff;
    /* text-decoration: none; */
    border: none;
    border-radius: 5px;
    margin: 5px 10px;
    /* cursor: pointer; */
    transition: background-color 0.3s;
    /* font-family: inherit; */
    /* box-sizing: border-box; */
    font-size: 16px;
}

.button-wrapper .purple-button:hover {
    background-color: #5a3f99;
}

.button-wrapper a.purple-link {
    color: #6f42c1;
    text-decoration: none;
    font-family: inherit;
    display: block;
    margin-top: 10px;
}

.button-wrapper a.purple-link:hover {
    color: #5a3f99;
}

.collumn-one {
    float: left;
    margin-left: 15%;
    margin-bottom: 10%;
    margin-right: 15%;
}

.collumn-two {
    /* float: right; */
    margin-top: 5%;
    margin-right: 15%;
    margin-bottom: 5%;
    justify-content: left;
}

label {
    font-size: 20px;
    text-align: right;
    color: #888888;
}

.row {
    padding: 1rem;
}

.hidden {
    height: 2rem;
    width: 2rem;
    position: relative;
    top: 0.7rem;
    bottom: 0;
    background: url("img\eye.svg") center / contain no-repeat;
}

#curPassw {
    left: 71%;
}

#newPassw {
    left: 76.9%;
}

#repNewPassw {
    left: 65.1%
}

.profile-pic {
    width: 300px;
    height: 300px;
    position: absolute;

}

.profile-pic-wrapper {}

.btnEditProfile {
    /* padding-top: 68%; */
    height: 50px;
    width: 300px;
    font-weight: bold;
    font-size: 18px;
    color: #FFFFFF;
    background-image: linear-gradient(to right, #DA22FF 0%, #9733EE 51%, #DA22FF 100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border: none;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.btnEditProfile:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.editPhoto {
    position: relative;
    display: inline-block;
    height: 35px;
    width: 35px;
    margin-top: 2%;
    margin-left: 15%;
    margin-bottom: 20%;
}