* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    background-image: url("back.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.collumn-one {
    float: left;
    margin-left: 15%;
    margin-bottom: 10%;
    margin-right: 15%;
    justify-items: right;
}

h1 {
    color: #732DD9;
    font-size: 36px;
    margin-top: 8%;
    margin-bottom: 5%;
    -webkit-text-stroke: 1px #C622E1;
    text-shadow: -0.5rem 0.3rem 0.5rem #aeaeae;
}

input[type=text] {
    font-size: 2rem;
    color: #888888;
    height: 3.5rem;
    width: 40rem;
    box-sizing: border-box;
    border: 1px solid #732DD9;
    box-shadow: 3px 3px 3px #D5C0F4;
    float: right;
}

label {
    font-size: 20px;
    color: #888888;
    float: left;
}

.row {
    padding: 1rem;
}

.collumn-two {
    margin-right: 15%;
    margin-bottom: 5%;
    justify-content: left;
    padding-top: 5%;
}

.profile-pic {
    width: 300px;
    height: 300px;
    position: absolute;

}

.btnEditProfile {
    height: 50px;
    width: 300px;
    font-weight: bold;
    font-size: 18px;
    color: #FFFFFF;
    background-image: linear-gradient(to right, #DA22FF 0%, #9733EE 51%, #DA22FF 100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border: none;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.btnEditProfile:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.editPhoto {
    position: relative;
    display: inline-block;
    height: 35px;
    width: 35px;
    margin-top: 2%;
    margin-left: 15%;
    margin-bottom: 20%;
}

a {
    text-decoration: none;
}