* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

/* GENERAL */
a:link,
a:visited {
  color: #C622E1;
}

#wrapper {
  color: grey;
  height: 100vh;
  overscroll-behavior-y: none;

  background-color: #fff;
  padding: 1%;

  display: flex;
  overflow: hidden;
}

h1 {

  color: #732DD9;
  font-size: 34px;

}

.description {
  margin-top: 15px;
  font-size: 24px;
}

input {
  color: #B996EC;
  font-size: 20px;
  border: 0;
  outline: 0;
  background: transparent;
}

.division {
  padding: 2.5%;
  border: #B996EC;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  margin-bottom: 2.5%;

  width: 95%;
}

.sidebar {
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  width: min-content;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  transition: all 0.5s, transform 1ms;
  float: left;
}

/* MAP */
#map {
  flex: 1;
  height: 100%;
  background-color: grey;
}

/* Popup width is defined in JS using options */
.leaflet-popup .leaflet-popup-content-wrapper {
  background-color: white;
  color: black;
  border-left: 5px solid #C622E1;
  border-radius: 5px;
  padding-right: 0.6rem;
}

.leaflet-popup .leaflet-popup-content {
  font-size: 1.5rem;
}

.leaflet-popup .leaflet-popup-tip {
  background-color: #C622E1;
}

.location-popup .leaflet-popup-content-wrapper {
  background-color: #732DD9;
  color: white;
}