* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    background-image: url("back.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.shop {
    float: left;
    border: 2px solid #732DD9;
    padding: 1%;
    width: 350px;
    text-align: center;
    margin: 2%;
    background-color: #FFFFFF;
    height: 200px;
    vertical-align: center;
}

.main-field {
    width: 70%;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    /* display: inline; */
}

.logo {
    max-height: 90px;
    width: auto;
    margin-bottom: 10%;
    max-width: 250px;
    height: auto;
}

.titles {
    font-size: 28px;
    border-bottom: 10%;
}

a:link {
    color: #732DD9;
    text-decoration: none;
}

a:visited {
    color: #B996EC;
    text-decoration: none;
}

a:hover {
    color: #FFA6FF;
    text-decoration: none;
}