
  body {
    background-image: url('back.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  .text {
    font-family: Arial;
    font-size: 35px;
    font-weight: bold;
    color: #732DD9;
    line-height: 1.5;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 35%;
    left: 5%;
  }

  .text.right {
    left: 50%;
  }

  .black {
    font-family: Arial;
    font-size: 27px;
    font-weight: bold;
    color: #000000;
    line-height: 1.5;
    position: absolute;
    top: 52%;
    left: 50%;
  }

  .black.next1 {
    top: 57%;
  }

  .black.next2 {
    top: 62%;
  }

  .black.next3 {
    top: 67%;
  }

  .black.next4 {
    top: 77%;
  }

  .custom-select {
    position: absolute;
    width: 400px;
    height: 40px;
    margin: 10px;
    border: 2px solid #732DD9;
    top: 52%;
    left: 4%;
  }

  #textBox1 {
    position: absolute;
    width: 400px;
    height: 40px;
    margin: 10px;
    border: 2px solid #732DD9;
    top: 62%;
    left: 4%;
  }

  #textBox2 {
    position: absolute;
    width: 400px;
    height: 80px;
    margin: 10px;
    border: 2px solid #732DD9;
    top: 72%;
    left: 4%;
  }

  #textBox3 {
    position: absolute;
    width: 400px;
    height: 40px;
    margin: 10px;
    border: 2px solid #732DD9;
    top: 88%;
    left: 4%;
  }

  .btn-donate {
    --clr-font-main: hsla(0 0% 20% / 100);
    --btn-bg-1: #732DD9;
    --btn-bg-2: #C622E1;
    --btn-bg-color: #fff;
    cursor: pointer;
    padding: 0.3em 1.4em;
    width: 120px;
    height: 40px;
    font-size: 20px;
    font-family: "Segoe UI", system-ui, sans-serif;
    font-weight: 500;
    transition: 0.8s;
    background-size: 280% auto;
    background-image: linear-gradient(325deg, var(--btn-bg-2) 0%, var(--btn-bg-1) 55%, var(--btn-bg-2) 90%);
    border: none;
    color: var(--btn-bg-color);
    position: absolute;
    top: 89.5%;
    left: 35%;
  }

  .btn-donate:hover {
    background-position: right top;
  }

  .btn-donate:is(:focus, :focus-visible, :active) {
    outline: none;
    box-shadow: 0 0 0 3px var(--btn-bg-color), 0 0 0 6px var(--btn-bg-2);
  }
